
.card {
    padding: 30px;
    border-radius:20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.carousel{
    position: relative;
    margin: 50px;
}
.blog-footer{
    margin-left: 100px;
}
.jumbotron{
    background: rgb(212, 209, 209);
    font-family: 'Permanent Marker', cursive;
}
svg{
    margin-right: 20px;
}